//TODO figure out how to import normalize here
//L partial: https://sass-lang.com/documentation/file.SASS_REFERENCE.html#directives

// variables
$test-color: red;
$list-item-color: rgb(220, 220, 220);

// styles
ul {
	list-style-type: none;
}

#youtubePlayerWrapper {
	width: 400px;
	height: 300px;
	/* display: none; */
}




