section {
	margin: 10px;
	padding: 10px;
	background: rgb(240, 240, 240);
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#youtubePlayerWrapper {
	width: 400px;
	height: 300px;
	/* display: none; */
}

/*
button,
input[type=submit] {

}
*/

/* //TODO change to kebab-case */
.inputError {
	background: red;
}


.list-item {
	background-color: gray;
}

.list-item button,
.list-item p,
.list-item h3 {
	display: inline-block;
}